blog-article,
video-article {
  display: block;
  margin-top: 1em;
}

// @PERFORMANCE-COMMENT
// prestyle undefined components to reduce fouc
blog-article:not(:defined),
video-article:not(:defined) {
  display: block;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
