footer {
  align-items: center;
  border-top: 2px solid #d3d3d3;

  /* stylelint-disable plugin/no-unsupported-browser-features */
  column-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  row-gap: 1rem;

  small {
    flex-grow: 1;
  }
}

nav {
  ul {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }
}
